/****************************************************************************/
/* Custom Breadcrumbs By Tom Christian                                      */
/* Theme: theme_deluxe_white.css                                            */ 
/****************************************************************************/

/* Theme Specific */
#secondary_navigation.homeIcon li:first-child a {
    background-position: 29px 5px;
}

#secondary_navigation.homeIcon .breadcrumb li:first-child a span {
    padding-left: 40px;
}

#secondary_navigation, #secondary_navigation .breadcrumb li a, #secondary_navigation .breadcrumb li span {
    background-image: url(../img/theme_white.png);
}

#secondary_navigation .nav_sep { display: none !important; }

#secondary_navigation {
    background-position: 0 -60px;
    background-color: #eee;
    background-repeat: repeat-x;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #556571;
    line-height: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    text-shadow: 0 1px 0 #fff;
    position: relative;
}

#secondary_navigation a { color: #45525c; height: 30px; outline: 0 none; line-height: 31px; }
#secondary_navigation a:hover { color: #2b3238; }

#secondary_navigation .breadcrumb.top { margin-bottom: 0 !important; }
#secondary_navigation .breadcrumb.top li { float: left; }

#secondary_navigation .breadcrumb li a {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    margin-left: -21px;
    padding-left: 16px;
    text-decoration: none;
}

#secondary_navigation .breadcrumb li span {
    background-position: 100% 0;
    background-repeat: no-repeat;
    color: #556571;
    display: block;
    padding: 0 21px 0 4px;
}

#secondary_navigation .breadcrumb li > span { background: none; color: #9baab4; }
#secondary_navigation .breadcrumb li:first-child a span { padding-left: 13px; }