/****************************************************************************/
/* Custom Breadcrumbs By Tom Christian                                      */
/* Theme: theme_css3_gradient.css                                           */ 
/****************************************************************************/

/* Theme Specific */
#secondary_navigation.homeIcon li:first-child a {
    background-position: 10px 8px;
    padding-left: 23px;
}

#secondary_navigation .breadcrumb.top li {
    border-right: 1px solid #ccc;
    margin: 0;
    box-shadow: 1px 0px 0 rgba(255, 255, 255, 0.5);
    height: 37px;
}
#secondary_navigation .breadcrumb.top li:first-child {
    border-left: 0;
}

#secondary_navigation .breadcrumb.top li:hover {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #e7e7e7 0%, #fff 100%);
    background-image: -o-linear-gradient(bottom, #e7e7e7 0%, #fff 100%);
    background-image: -webkit-linear-gradient(bottom, #e7e7e7 0%, #fff 100%);
    background-image: linear-gradient(bottom, #e7e7e7 0%, #fff 100%);
    height: 37px;
}

#secondary_navigation .breadcrumb.top li:active {
    -webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
}

#secondary_navigation .breadcrumb.top li:first-child:hover {
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
}

/* Core Styles */
#secondary_navigation .nav_sep { display: none !important; }

#secondary_navigation {
    border: 1px solid #cac9c9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #dbdbdb 0%, #fdfdfd 100%);
    background-image: -o-linear-gradient(bottom, #dbdbdb 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(bottom, #dbdbdb 0%, #fdfdfd 100%);
    background-image: linear-gradient(bottom, #dbdbdb 0%, #fdfdfd 100%);
    color: #444;
    line-height: 37px;
    margin-bottom: 15px;
    overflow: hidden;
    text-shadow: 0 1px 0 #fff;
    height: 37px;
    position: relative;
}

#secondary_navigation a { color: #444; height: 30px; outline: 0 none; }
#secondary_navigation a:hover { color: #2b3238; }

#secondary_navigation .breadcrumb.top { font-size: 13px !important; margin-bottom: 0 !important; }
#secondary_navigation .breadcrumb.top li { float: left; margin-right: 0; }

#secondary_navigation .breadcrumb li a {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    text-decoration: none;
}

#secondary_navigation .breadcrumb li span {
    color: #555;
    display: block;
    padding: 0 14px 0 14px;
}

#secondary_navigation .breadcrumb li > span { color: #888; }
#secondary_navigation .breadcrumb li:first-child a span { padding-left: 13px; }