/****************************************************************************/
/* Custom Breadcrumbs By Tom Christian                                      */
/* Theme: theme_flat_blue.css                                               */ 
/****************************************************************************/

/* Theme Specific */
#secondary_navigation.homeIcon li:first-child a {
    background-position: 9px 7px;
    padding-left: 34px;
}

.breadcrumb.top { 
    list-style: none; 
    overflow: hidden; 
    font-size: 13px;
}

.breadcrumb.top li { 
    float: left; 
    margin: 0;
}
.breadcrumb.top li a, .breadcrumb.top li > span {
    color: white;
    text-decoration: none; 
    padding: 10px 0 10px 38px;
    background: #204066; 
    position: relative; 
    display: block;
    float: left;
}
.breadcrumb.top li a:after, .breadcrumb.top li > span:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 25px solid #204066;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}   
.breadcrumb.top li a:before, .breadcrumb.top li > span:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 25px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1; 
}   
.breadcrumb.top li:first-child a, .breadcrumb.top li:first-child > span {
    padding-left: 10px;
}

.breadcrumb.top li:last-child a, .breadcrumb.top li:last-child > span {
    background: white !important;
    color: black;
}
.breadcrumb.top li:last-child a:after { border: 0; }
.breadcrumb.top li a:hover { background: rgb(54, 94, 141); }
.breadcrumb.top li a:hover:after { border-left-color: rgb(54, 94, 141) !important; }

/* Core Styles */
#secondary_navigation .nav_sep { 
    display: none;
}

#secondary_navigation {
    margin-bottom: 15px;
    position: relative;
}