/*****************************************************************************/
/* IPB Responsive - IP.Board 3 Hook by Tom Christian - v1.0.9				 */
/*****************************************************************************/
/* tomchristian.co.uk							     */
/*****************************************************************************/

	body #demoBar { display: none !important; }

	body #ipbwrapper {
		padding-top: 0px !important;
	}

/****************************************/
/* Non-Mobile Styles	              	*/
/****************************************/
/* Navigation */
#primary_nav .main_width { position: relative; }
#primary_nav li.nav_mobile, #nav_mobile_search { display: none; }

/****************************************/
/* Media Queries 		         */
/****************************************/

/* 820px - Tablet Devices */
@media screen and (max-width: 1033px) {

	/****************************************/
	/* Layout 		         */
	/****************************************/
	body, #ipbwrapper { min-width: initial !important; min-width: initial !important; }
	.ipsLayout_content { float: initial !important; }
	#branding .main_width { width: 100% !important; }
	#logo { margin-left: 2.5%; }
	#content, .main_width, #branding, 
	#header_bar, #primary_nav { min-width: inherit !important; }
	.ipsBox.ipsLayout.ipsLayout_withright { padding-right: 10px !important; }
	.ipsLayout.ipsLayout_withleft { padding-left: 0 !important; }
	#ipbwrapper .ipsLayout_smallleft.ipsLayout_withleft { padding: 0 !important; }
	#ipbwrapper .ipsLayout_smallleft.ipsLayout .ipsLayout_left { width: 100%; margin-left: 0 !important; float: none !important; }
	#ipbwrapper .ipsLayout .ipsLayout_right { position: static !important; width: 100%; margin: 0 !important; float: none !important; }
	#ipbwrapper .ipsLayout.ipsLayout_withright { padding: 0 !important; float: initial !important; }
	#ipbwrapper .ipsVerticalTabbed_content { clear: both !important; }
	.ipsBox.ipsLayout_tinyleft.ipsLayout_withleft { padding-left: 10px; }
	.ipsLayout_tinyleft.ipsLayout .ipsLayout_left { width: 100%; margin-left: 0; }
	.maintitle.ipsFilterbar ul.ipsList_inline.right { float: left; clear: both; padding-top: 10px; display: block; }
	.ipsLayout_left { width: 100% !important; margin: 0 0 10px !important; float: none !important; }
	#community_app_menu>li>a { padding: 7px 9px 8px; }
	.ipsSideBlock { float: none !important; }

	/****************************************/
	/* Modals / Popups 		         */
	/****************************************/
	#document_modal { width: 100% !important; }
	.popupWrapper { margin: 0 5px !important; }
	#poll_popup_inner { width: 100% !important; }
	.popupWrapper { margin: 0 5px !important; width: 95% !important; left: 0 !important; }
	.popupInner { width: 100% !important; }
	#ajax_loading { width: 20% !important; left: 50% !important; margin-left: -8.5% !important; }

	/****************************************/
	/* Wrappers / Containers 		*/
	/****************************************/
	#ipbwrapper #content { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
	#ipbwrapper #content, .main_width { width: 95% !important; min-width: auto !important; }
	#branding, #header_bar, #primary_nav { min-width: auto !important; width: auto !important; }
	#board_index { padding: 0 !important; }
	#board_stats li { margin-bottom: 9px; margin-right: 0 !important; }
	#index_stats { margin: 0 !important; width: 100% !important; }

	/****************************************/
	/* Toggle Icons 		        */
	/****************************************/
	.maintitle .toggle { visibility: visible !important; }
	.ipsSideBlock h3 .mod_links { opacity: 1 !important; }

	/****************************************/
	/* Board Statistics		        */
	/****************************************/
	#stat_links {
		float: none;
		margin: 3px 0 5px;
	}

	.statistics { margin: 5px 0 0 0 !important; display: none; }
	#board_stats ul { font-size: 11px; }
	#board_stats .value { padding: 1px 3px; }

	/****************************************/
	/* Footer	              	        */
	/****************************************/
	#footer_utilities.main_width { width: 93% !important; }

	#copyright {
		text-align: left !important;
		float: left !important;
		padding-top: 7px !important;
		padding-left: 0px !important;
		clear: both;
	}

	#footer_utilities .skin_copyright { display: block !important; padding: 6px 0 0 0; }
	#footer_utilities .ipsList_inline > li > a { padding: 4px 0px !important; font-size: 11px; }
	#backtotop, #top { right: 10px; left: auto; }
	#footer_utilities [data-skinid="setAsMobile"] { display: none !important; }
	#footer_utilities #useragent_msg { display: none; }
	
	/****************************************/
	/* Board Index 		              	*/
	/****************************************/
	.col_c_icon img { max-height: 30px !important; max-width: 30px !important; }
	td.col_c_post, .col_f_post { display: none !important; }
	td.col_c_post .ipsUserPhotoLink, .col_f_post .ipsUserPhotoLink, ul.last_post { display: none !important; }
	.col_c_stats { width: auto !important; min-width: 75px !important; }
	.redirect_forum .desc { padding: 0 !important; border: 0 !important; }
	table.ipb_table .expander { visibility: visible !important; opacity: 0.2 !important; }
	table.ipb_table .ipsModMenu { visibility: visible !important; opacity: 0.7 !important; }
	.maintitle { font-size: 13px; }

	/****************************************/
	/* Register & Login 	           	*/
	/****************************************/
	#register_form { width: 100%; }
	#login_form { width: 100%; }
	.reg_msg { display: none; }
	#register_form .input_text, #register_form .ipsTagBox_wrapper,
	#login_form .input_text, #login_form .ipsTagBox_wrapper { width: 90% !important; }
	#register_submit { margin-left: 0; width: 100%; }
	#register_form .ipsForm_horizontal .ipsField { margin: 0 5px 5px !important; }
	#captcha.recaptcha .ipsField_content { position: relative; }
	#recaptcha_table td { padding: 0 !important; }
	#recaptcha_logo { display: none !important; }
	#recaptcha_privacy { display: none; }
	#recaptcha_table td:nth-child(2) { position: absolute; left: -28px; top: 7px; }

	/****************************************/
	/* Topic View 		              	*/
	/****************************************/
	.non_button { margin: 0; float: left !important; }
	.topic_list .desc { display: none; }
	.ipsFilterbar li { margin: 0px 5px 0px 0 !important; }
	.pagination.no_pages span { display: none !important; }
	.topic_buttons li { margin: 0 6px 10px 0px !important; }
	.topic_buttons li.non_button a { padding: 0 !important; }
	.topic_buttons li.non_button a img { display: none !important; }
	.topic_buttons li.important a, .topic_buttons li.important span, .ipsButton .important, .topic_buttons li a, .topic_buttons li span, .ipsButton { min-width: 100px !important; }

	.post_block .post_controls li a {
		opacity: 1 !important;
		opacity: 1 !important;
		height: 19px !important;
		line-height: 19px !important;
		font-size: 11px !important;
		padding: 0 3px !important;
		margin: 0 0 3px 3px !important;
		background: #f6f6f6;
		background: -moz-linear-gradient(top, #f6f6f6 0%, #e5e5e5 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e5e5e5)); /* webkit */
		border: 1px solid #dbdbdb;
		-moz-box-shadow: 0px 1px 0px rgba(255,255,255,1) inset, 0px 1px 0px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,1) inset, 0px 1px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 1px 0px rgba(255,255,255,1) inset, 0px 1px 0px rgba(0,0,0,0.3);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #616161;
		display: inline-block;
		white-space: nowrap;
	}

	.ipsButton_secondary a { color: #616161; }
	.ipsButton_secondary:hover {
		color: #4c4c4c;
		border-color: #9a9a9a;
	}

	.author_info {
		width: 100% !important;
		float: left !important;
		text-align: left !important;
		padding: 10px 0px 15px !important;
		background: #f8f8f8 !important;
	}

	.author_info .member_title, .author_info .group_icon { display: none !important; }
	.post_body { margin: 100px 10px 0 10px !important; padding-top: 15px !important; }
	#ipbwrapper .post_body { margin-left: 10px !important; }
	#topic_summary .post_body { margin: 0px 10px 0 10px !important; padding-top: 8px !important; }
	#profile_background .post_body { margin: 0px 10px 0 10px !important; padding-top: 8px !important; }

	.basic_info li.avatar { margin: 0 10px !important; float: left !important; }
	.ipsUserPhoto_large { max-width: 70px !important; max-height: 70px !important; }
	.author_info .avatar .ipsUserPhoto { max-width: 70px !important; max-height: 70px !important; }

	.ipsFilterbar li.active a, .ipsFilterbar.bar.altbar li.active a {
		background: transparent !important;
		padding: 0 !important;
		font-weight: normal;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}

	#lightbox #outerImageContainer { width: auto !important; height: 500px !important; }
	#lightbox #imageContainer #lightboxImage { width: 100% !important; height: 500px !important; }
	#lightbox #imageDataContainer { width: 100% !important; position: absolute; }
	#overlay { width: 100%; height: 100%; }

	img.bbc_img { 
		max-width: 100% !important;
		max-height: 100% !important;
	}

	/****************************************/
	/* Post Form     	              	*/
	/****************************************/
	.ipsPostForm { padding-right: 9px !important; }
	.ipsPostForm_sidebar { margin-right: 0 !important; width: 100% !important; float: none !important; }

	/****************************************/
	/* Navigation		              	*/
	/****************************************/
	#primary_nav { padding: 0 !important; }
	#primary_nav .main_width { width: 100% !important; }
	#primary_nav #nav_mobile { border-top: 0 !important; border-bottom: 0 !important; }
	#community_app_menu > li.left { border-bottom: 1px solid rgba(0, 0, 0, 0.26) !important; border-top: 1px solid rgba(255, 255, 255, 0.05) !important; }
	#community_app_menu li.left:nth-last-child(2) { border-bottom: 0 !important; box-shadow: 0 2px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1); }
	li#nav_mobile_search, li#nav_explore, li#nav_mobile { border: 0 !important; }
	li#nav_mobile_search a { line-height: 14px; }
	#primary_nav #community_app_menu li.left { display: none; }
	#primary_nav #community_app_menu li.nav_mobile, #primary_nav #community_app_menu li.nav_mobile.nav_item_show { display: inline-block !important; }
	#primary_nav #community_app_menu li.nav_item_show, #primary_nav #community_app_menu li.nav_mobile_search { display: block !important; }
	#community_app_menu > li.left { float: none; display: block; margin: 0 !important; }
	#chat-tab-count.ipsHasNotifications, #shoutbox-tab-count.ipsHasNotifications { top: 8px !important; right: 8px !important; }
	#quickNav { display: none; }

	/****************************************/
	/* Search		              	*/
	/****************************************/
	#search { 
		display: none; 
		margin: 0 !important; 
		float: none !important;
		position: relative !important;
		right: 0 !important;
		top: 0 !important;
		z-index: 999 !important;
		padding-right: 47px !important;
		background: rgba(0, 0, 0, 0.52) !important;
		padding: 2px !important;
	}

	.searchActive { background: #1c3b5f; }
	.searchActive:hover { background: #173455; }
	.searchActive a { background: url(../img/close.png) no-repeat center !important; }
	.searchActive a img { visibility: hidden; }

	#search_wrap { float: none !important; height: 35px !important; line-height: 35px !important; border-radius: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; }
	#main_search { width: 205px !important; }
	#search.nav_search_show { display: block !important; }
	#search_options { margin: 5px 14px 3px 0 !important; height: 24px !important; line-height: 24px !important; }
	#search .submit_input { width: 35px !important; height: 35px !important; border-radius: 0 !important; }
	#search_options_menucontent li { line-height: 20px; }

	/****************************************/
	/* Profile		              	*/
	/****************************************/
	#profile_background .warn_panel, #profile_background .photo_holder { display: none !important; }

	#modcp_tabs ul, #usercp_tabs ul, 
	.ipsVerticalTabbed_tabs > ul { 
		width: 100% !important; 
		border-right: 1px solid #DBE4EF; 
		margin-bottom: 10px !important; 
		margin-top: 0 !important; 
	}

	.ipsVerticalTabbed_tabs li.active a { width: auto !important; }
	#ipbwrapper .ipsVerticalTabbed_tabs li { float: left !important; font-size: 12px !important; border-right: 1px solid #dbe4ef !important; border-bottom: 1px solid #dbe4ef !important; }
	#ipbwrapper .ipsVerticalTabbed_tabs li a { padding: 10px 5px !important; width: auto !important; }
	#ipbwrapper .ipsVerticalTabbed_tabs li.active a { width: auto !important; }

	/****************************************/
	/* Member List		              	*/
	/****************************************/
	#mlist_content { padding: 3px !important; }
	#mlist_content .ipsUserPhoto { width: 30px !important; height: 30px !important; }
	#mlist_content .ipsBox_withphoto { margin-left: 46px !important; }
	#mlist_content li.ipsPad { padding: 4px !important; }
	#mlist_content .ipsList_inline > li { margin: 0 !important; }
	#mlist_content .ipsButton_secondary { opacity: 1 !important; height: 20px !important; line-height: 20px !important; font-size: 10px !important; padding: 0 3px !important; }
	#mlist_tabs { margin-top: 0; margin-bottom: 10px; }
	#mlist_content .ipsType_subtitle { font-size: 14px; }
	div#member_filters ul { width: 100%; }
	div#member_filters label { text-align: left; }
	div#member_filters .input_text, div#member_filters .ipsTagBox_wrapper { width: 100%; }

	/****************************************/ 
	/* Calendar		              	*/
	/****************************************/
	#mini_calendars .right { float: left; clear: both; margin-top: 10px; width: 100%; }
	#mini_calendars .left { float: left; clear: both; margin-top: 10px; width: 100%; }
	#mini_calendars.two_wide .mini_cal_wrap { width: auto; }
	#mini_calendars.three_wide>div.right { margin-left: 0; }
	#mini_calendars.three_wide>div { width: 100%; }

	/****************************************/
	/* Mod CP	              	*/
	/****************************************/
	#memberlookup { width: 100% !important; padding-right: 0 !important; }
	.ipsField .ipsField_title { font-size: 12px !important; }
	.ipsForm_horizontal .ipsField_title { float: none !important; text-align: left !important; width: 100% !important; padding-right: 5px !important; line-height: 2.0 !important; }
	.ipsForm_horizontal .ipsField_content, .ipsForm_horizontal .ipsField_submit { margin-left: 0 !important; }
	#modcp_content .cke_skin_ips .cke_editor { display: table; }
	.ipsForm_horizontal .ipsField { margin: 0 20px 5px !important; }
	fieldset.with_subhead h4 { width: auto !important; }
	fieldset.with_subhead ul { border-bottom: 0 !important;  margin: 3px 15px 10px 72px !important; }

	/****************************************/
	/* Settings 			              	*/
	/****************************************/
	.ipsSettings_sectiontitle { width: 100% !important; padding-left: 0 !important; padding-bottom: 7px !important; }
	.ipsSettings_section > div { margin-left: 0 !important; }

	/****************************************/
	/* Messenger			              	*/
	/****************************************/
	#messenger_utilities { width: 28% !important; min-width: 155px !important; } 
	#messenger_content { width: 66%  !important; }
	#messenger_content h2, .section_title, .post_form h2 { font-size: 12px !important; margin: 0!important; border-bottom: 0 !important; padding: 9px 11px !important; }

	.input_text, .ipsTagBox_wrapper { width: 97% !important; }
	select { width: 100%; }

	/****************************************/
	/* Post Form		              	*/
	/****************************************/
	div.post_form label { text-align: left !important; float: none !important; padding-bottom: 7px !important; }
	div.post_form span.desc, fieldset#poll_wrap span.desc { margin-left: 0 !important; padding-top: 5px !important; }
	#ipbwrapper .ipsEditor_textarea { width: 95% !important; }
	.cke_top { display: none !important; }

	/****************************************/
	/* IP.Blog		                      	*/
	/****************************************/	
	#main_blog_wrapper.with_right,
	#main_blog_wrapper.with_left {
		padding: 0;
	}

	#main_blog_wrapper #main_column {
		width: 100%;
	}

	#main_blog_wrapper #cblock_left,
	#main_blog_wrapper #cblock_right {
		width: 100%;
		margin: 0;
		left: 0;
	}

	#main_blog_wrapper #cblock_left .general_box { margin: 0; }
	.ipsComment_comment { margin: 0; }
	.ipsComment_reply_user_photo { display: none; }

	/****************************************/
	/* IP.Content                       	*/
	/****************************************/	
	#community_app_menu li[id*=nav_menu] div { width: 100%; }
	#community_app_menu li[id*=nav_menu] div li { margin: 0px 3px 0 0; }
	#community_app_menu li[id*=nav_menu] div li:last-child { margin: 0; }
	/*#community_app_menu li.skip_moremenu > a { display: none !important; } Uncomment to hide nav parent items */
	#community_app_menu li.skip_moremenu > a > span { display: none !important; }

	#community_app_menu .submenu_container { 
		display: block !important; 
		background: none !important; 
		min-width: auto !important; 
		width: auto !important; 
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		opacity: 1 !important;
		position: static !important;
	}

	#community_app_menu .submenu_container li {
		z-index: 0 !important;
		float: left !important;
		min-width: 0 !important;
		width: 100% !important;
		border-bottom: 1px solid rgba(0, 0, 0, 0.20) !important;
		border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
	}

	#community_app_menu .submenu_container li:first-child { border-top: 0 !important; }
	#community_app_menu .submenu_container li:last-child { border-bottom: 0 !important; }

	#community_app_menu .submenu_container li { background: rgba(0, 0, 0, 0.07) !important; }
	#community_app_menu .submenu_container li:hover { background: rgba(0, 0, 0, 0.2) !important; color: white !important; }
	#community_app_menu .submenu_container li a:hover { color: white !important; }

	.ccsSlideshow_images>img { left: 0 !important; }

	/****************************************/
	/* IP.Chat & Shoutbox           	*/
	/****************************************/
	#ipboard_body #editor_message { margin-right: 0; }
	#chat-submit { float: none; width: 100%; position: static; margin-top: 5px; }

 	#shoutbox-wrapper .input_submit { width: 100%; margin-bottom: 9px; padding: 10px; }
	#shoutbox-wrapper .input_submit.alt { width: 32%; padding: 10px 0; }

	/* Global shoutbox hook */
	#category_shoutbox .input_submit { width: 100%; margin-bottom: 9px; padding: 10px; }
	#category_shoutbox .input_submit.alt { width: 32%; padding: 10px 0; }
	#category_shoutbox #shoutbox-clear-button { width: 49% !important; margin-bottom: 0 !important; }
	#category_shoutbox #shoutbox-refresh-button { width: 50% !important; margin-bottom: 0 !important; }
	#category_shoutbox .shoutbox_table .row1 > td { display: inline-block; width: 100% !important; min-width: 0 !important; }
	#category_shoutbox #shoutbox-global-shout { width: 98% !important; }

	#category_shoutbox #shoutbox-smilies-button, #category_shoutbox #shoutbox-bbcode-button, #category_shoutbox #shoutbox-myprefs-button { 
		display: none;
	}

	/****************************************/
	/* IP.Gallery                       	*/
	/****************************************/	
	ul#strip img.emptyBox {
		width: 40px;
		height: 40px;
	}

	ul#strip img {
		max-width: 40px;
		max-height: 40px;
	}


	/****************************************/
	/* Tomchristian.co.uk Skins          	*/
	/****************************************/

	/* Luminous */
	.tcLuminous #header_right_container { width: 100%; max-width: 100%; padding: 10px 0; position: absolute; top: -43px; background: #202020; height: auto;}
	.tcLuminous #user_navigation { margin-top: 0; }
	.tcLuminous #header_bar { margin-top: 40px; }
	.tcLuminous #admin_link { display: none; }
	.tcLuminous #admin_bar { display: block !important; font-size: 10px; padding-left: 5px; }
	.tcLuminous #primary_nav { width: 100% !important; border-radius: 0; height: auto; }
	.tcLuminous #primary_nav li.nav_item_show { background: rgb(24, 24, 24); clear: both; }
	.tcLuminous #primary_nav li.nav_item_show.active a { padding: 6px 8px 8px; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
	.tcLuminous #breadcrumb { width: 100%; height: 54px; font-size: 12px; }
	.tcLuminous .breadcrumb { font-size: 12px; }
	.tcLuminous .breadcrumb li .nav_sep { margin: 0 1px 0 0; font-size: 12px; }
	.tcLuminous #breadcrumb a { font-size: 12px; }
	.tcLuminous #breadcrumb ._social { width: 29px !important; }
	.tcLuminous #breadcrumb .icon_twitter_div { width: 29px; }
	.tcLuminous .crumb { margin: 19px 0; }
	.tcLuminous .social_media { margin: 15px 0; }
	.tcLuminous #nav_mobile_search { position: absolute;right: 5px;top: -30px;z-index: 99;background: #222;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3);-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);box-shadow: 0 1px 0 rgba(255,255,255,0.3);}
	.tcLuminous #nav_explore, .tcLuminous .nav_vnc { margin: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
	.tcLuminous #search { width: 100%;float: left !important;top: 137px !important;position: absolute !important;padding: 0 !important;background: #222 !important;height: 29px !important;}
	.tcLuminous #search .submit_input {width: 30px !important;height: 29px !important;border-radius: 0 !important;margin: 0;}
	.tcLuminous #search_options {margin: 3px -22px 3px 0 !important;height: 23px !important;}
	.tcLuminous #search_wrap { height: 29px !important; line-height: 28px !important; line-height: 29px !important; }
	.tcLuminous .user_nav_ul li:last-child { padding-right: 10px; }
	.tcLuminous #footer_utilities { padding: 20px 0; }
	.tcLuminous #copyright { clear: both; }
	.tcLuminous #footer_utilities .skin_copyright { padding: 6px 0 0 0px; }
	.tcLuminous #footer_utilities .ipsList_inline>li { padding-right: 4px; }
	.tcLuminous #footer_utilities .ipsList_inline>li>a { border-right: 0; }
	.tcLuminous .backtotop { right: 10px; left: auto; }
	.tcLuminous .searchActive a:hover { background-image: rgba(0,0,0,1) !important; }
	.tcLuminous .searchActive a { 
		background-color: rgba(0,0,0,0.8) !important; 
		background-image: url(../img/close.png) no-repeat center !important; 
		-webkit-transition: 0 none !important;
		-moz-transition: 0 none !important;
		-o-transition: 0 none !important;
		-ms-transition: 0 none !important;
		transition: 0 none !important;
	}
	.tcLuminous .searchActive a img { visibility: hidden; }

	/* Pulse */
	.tcPulse #header_right { width: 100%; float: none; position: static; }
	.tcPulse #branding, .tcPulse #header_effect_left, 
	.tcPulse #header_effect_right, .tcPulse #logo img { height: 110px; min-height: 110px; }
	.tcPulse #header_effect_left { background: none; }
	.tcPulse #user_navigation.not_logged_in { height: 19px; padding: 0; }
	.tcPulse #community_app_menu>li>a { padding: 13px 13px 14px; }

	.tcPulse #community_app_menu .submenu_container li a { padding: 13px 13px 14px !important; color: #b1c0cd !important; font-family: helvetica; font-size: 10pt; font-weight: bold; }
	.tcPulse #community_app_menu .submenu_container li { background: rgb(23, 26, 32) !important; }
	.tcPulse #community_app_menu .submenu_container li a:hover { background: none !important; color: white !important; }


	.tcPulse #header_bar {
		float: none;
		width: 100% !important;
		margin: 0;
		padding: 12px 0;
		background: #394149; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5NDE0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTJiMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #394149 0%, #252b2e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#394149), color-stop(100%,#252b2e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #394149 0%,#252b2e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #394149 0%,#252b2e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #394149 0%,#252b2e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #394149 0%,#252b2e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#394149', endColorstr='#252b2e',GradientType=0 ); /* IE6-8 */
		height: auto;
		position: absolute;
		top: -40px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.53);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.11);
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.11);
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.11);
	}

	.tcPulse #branding { margin-top: 40px; }
	.tcPulse #admin_link { display: none; }
	.tcPulse #admin_bar { display: block !important; font-size: 10px; padding-left: 5px; position: absolute; top: 47px; right: 10px; }
	.tcPulse #primary_nav { width: 100% !important; border-radius: 0; height: auto; }
	.tcPulse #primary_nav li.nav_item_show { background: rgb(23, 26, 32); clear: both; }
	.tcPulse #primary_nav li.nav_item_show.active { background: rgb(44, 48, 54); }
	.tcPulse #primary_nav li.nav_item_show.active:hover { background: rgb(44, 48, 54) !important; }
	.tcPulse #breadcrumb { width: 100%; height: 54px; font-size: 12px; }
	.tcPulse .breadcrumb { font-size: 12px; }
	.tcPulse .breadcrumb li .nav_sep { margin: 0 1px 0 0; font-size: 12px; }
	.tcPulse #breadcrumb a { font-size: 12px; }
	.tcPulse #breadcrumb ._social { width: 29px !important; }
	.tcPulse #breadcrumb .icon_twitter_div { width: 29px; }
	.tcPulse .crumb { margin: 19px 0; }
	.tcPulse .social_media { margin: 15px 0; }
	.tcPulse #nav_mobile_search { display: none; }
	.tcPulse #search { width: 100%; float: left !important; }
	.tcPulse .user_nav_ul li:last-child { padding-right: 10px; }
	.tcPulse #footer, .tcPulse #footer .footer_effect { height: 95px; }
	.tcPulse #footer_utilities { padding: 20px 0; }
	.tcPulse #copyright { clear: both; }
	.tcPulse #footer_utilities .skin_copyright { padding: 6px 0 0 0px; }
	.tcPulse #footer_utilities .ipsList_inline>li>a { border-right: 0; }
	.tcPulse .backtotop { right: 10px; left: auto; }

	/* Deluxe */
	.tcDeluxe #header_bar { margin-top: 35px; }
	.tcDeluxe .header_effects { height: auto; }
	.tcDeluxe #content { padding: 10px 10px; clear: both; }
	.tcDeluxe #branding #navContainer { height: auto; float: left; width: 100% !important; background: black; position: relative; z-index: 99; padding: 0; border-radius: 0; }

	.tcDeluxe #branding #navContainer #primary_nav {
		background: #0d171d;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkMTcxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzMwM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #0d171d 0%, #1c303e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d171d), color-stop(100%,#1c303e));
		background: -webkit-linear-gradient(top,  #0d171d 0%,#1c303e 100%);
		background: -o-linear-gradient(top,  #0d171d 0%,#1c303e 100%);
		background: -ms-linear-gradient(top,  #0d171d 0%,#1c303e 100%);
		background: linear-gradient(to bottom,  #0d171d 0%,#1c303e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d171d', endColorstr='#1c303e',GradientType=0 );
		padding: 4px 0 !important;
		height: auto;
		float: left;
		width: 100% !important;
	}

	.tcDeluxe #branding #navContainer #primary_nav .active a { padding: 6px 6px 8px; height: auto; }

	.tcDeluxe #secondaryNav {
		background: #f0f7fc;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjdmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVmZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f0f7fc 0%, #eaeff3 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f7fc), color-stop(100%,#eaeff3));
		background: -webkit-linear-gradient(top,  #f0f7fc 0%,#eaeff3 100%);
		background: -o-linear-gradient(top,  #f0f7fc 0%,#eaeff3 100%);
		background: -ms-linear-gradient(top,  #f0f7fc 0%,#eaeff3 100%);
		background: linear-gradient(to bottom,  #f0f7fc 0%,#eaeff3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f7fc', endColorstr='#eaeff3',GradientType=0 );
	}

	.tcDeluxe #secondaryNav .secondaryNavRight { position: absolute; top: -32px; z-index: 99; right: 10px; }
	.tcDeluxe #secondaryNav .secondaryNavRight a { color: white; text-shadow: none; }
	.tcDeluxe .moduleSocial, .tcDeluxe .qnBorderLeft, .tcDeluxe .vncBorderRight, .tcDeluxe #secondaryNav .secondaryNavRight li:first-child { border: 0 !important; }
	.tcDeluxe #header_right_container { width: 100%; background: #081621; float: left; padding: 10px 0; position: absolute; top: -101px; }
	.tcDeluxe #secondaryNav .moduleSocial { background: white; padding: 0px 3px; border-radius: 3px; margin-left: 4px; }
	.tcDeluxe #footer { padding-top: 35px; padding-bottom: 10px; }
	.tcDeluxe .contentBottom { width: 100%; min-width: auto; padding: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
	.tcDeluxe #notify_link, .tcDeluxe #inbox_link, .tcDeluxe #user_link, .tcDeluxe #logout_link { padding: 6px 2px 10px; }
	.tcDeluxe .post_body { margin-top: 0 !important; }
	.tcDeluxe .author_info { max-width: 100% !important; background: #e0eff9 !important; margin-bottom: 16px; }
	.tcDeluxe .icon_post_arrow { left: 23px; right: 0; top: 116px; transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg);}
	.tcDeluxe #board_index .descPopWrap { display: none; }

	/* Glare */
	.tcGlare #branding { min-height: 162px !important; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
	.tcGlare #primary_nav { float: none; background: rgba(0,0,0,0.07); }
	.tcGlare #community_app_menu li.nav_item_show { background: rgba(0, 0, 0, 0.8); }
	.tcGlare #community_app_menu li.nav_item_show a, .tcGlare #community_app_menu li#nav_mobile a, .tcGlare #community_app_menu #nav_other_search a { padding: 0px 10px; line-height: 44px; }
	.tcGlare #header_bar { margin-top: 8px; width: 100% !important; }
	.tcGlare #headerPanel { line-height: 44px; }
	.tcGlare #header_right { background: rgba(0, 0, 0, 0.07); width: 100%; }
	.tcGlare .headerRight { width: 100%; max-width: 100%; float: left; }
	.tcGlare #headerPanel { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
	.tcGlare #logo { margin: 0; }
	.tcGlare #content { padding: 15px 0 10px !important; }
	.tcGlare #user_navigation { font-size: 12px; }
	.tcGlare #search { float: left !important; width: 100%; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
	.tcGlare #community_app_menu > li#nav_other_search a, .tcGlare #community_app_menu > li#nav_other_search a:hover { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
	.tcGlare #nav_explore a { padding: 10px 5px; }
	.tcGlare .bgChooser ul li a, .tcGlare .bgChooser ul li a span.cover { height: 75px; width: 75px; }
	.tcGlare .bgChooser ul li a span.cover { background-position: -171px -10px; }
	.tcGlare #admin_link { display: none; }
	.tcGlare #inbox_link { padding: 8px 8px 0; }
	.tcGlare #admin_bar { position: absolute; top: 36px; right: 3px; z-index: 9; display: block !important; font-size: 10px; padding-left: 10px; padding-top: 6px; }
	.tcGlare #breadcrumb { height: 43px; font-size: 13px; }
	.tcGlare .breadcrumb { font-size: 13px; }
	.tcGlare .breadcrumb li .nav_sep { margin: 0 1px 0 0; font-size: 11px; }
	.tcGlare #breadcrumb a { font-size: 13px; }
	.tcGlare .crumb { margin: 11px 0; }
	.tcGlare .social_media { margin: 5px 0; }
	.tcGlare .social_links { padding-right: 3px; }
	.tcGlare .guestMessage h4 { font-size: 1.5em; padding: 0 10px; }
	.tcGlare .guestMessage p { line-height: 19px; font-size: .9em; padding: 0 10px; padding-bottom: 15px; }
	.tcGlare .backtotop { right: 10px; left: auto; }
	.tcGlare #copyright { clear: both; font-size: 12px; padding-top: 0px !important; padding-left: 7px !important; }
	.tcGlare #copyright a { font-size: 12px; }
	.tcGlare .icon_rss_footer { display: none; }
	.tcGlare #footer_utilities { padding: 11px 0; }
	.tcGlare #footer_utilities .skin_copyright { padding: 0; }
	.tcGlare #footer_utilities .ipsList_inline>li { padding-right: 4px; }
	.tcGlare #footer_utilities .ipsList_inline>li>a { border-right: 0; }

	/* Simplify */
	.tcSimplify .content { clear: both; }
	.tcSimplify #nav_mobile_search { position: absolute;right: 5px;top: 27px;z-index: 99;display: block !important;}
	.tcSimplify #nav_mobile_search img { background-color: #222;-moz-border-radius: 3px; -webkit-border-radius: 3px;border-radius: 3px; padding: 3px; }
	.tcSimplify #nav_explore, .tcLuminous .nav_vnc { margin: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
	.tcSimplify #notify_link, .tcSimplify #inbox_link, .tcSimplify #admin_link { padding: 3px 11px 6px 11px; }
	.tcSimplify #search { width: 100%; float: left !important; top: 9px !important; padding: 0 !important; background: #222 !important; }
	.tcSimplify .nav_container { height: auto; float: left; width: 100%; margin: 0 auto 0px; }
	.tcSimplify #user_navigation.not_logged_in { padding: 0; }
	.tcSimplify .guestMessage { float: left; }
	.tcSimplify #header_right {  z-index: 999; width: 100%; padding: 7px 0; background: rgb(235, 235, 235); top: 0; position: absolute; }
	.tcSimplify #header_bar { position: relative; }
	.tcSimplify #breadcrumb { float: left; width: 100%; }
	.tcSimplify #breadcrumb { font-size: 13px; }
	.tcSimplify .breadcrumb { font-size: 13px; }
	.tcSimplify .breadcrumb li .nav_sep { margin: 0 1px 0 0; font-size: 11px; }
	.tcSimplify #breadcrumb a { font-size: 13px; }
	.tcSimplify #primary_nav { width: 100% !important; }
	.tcSimplify #primary_nav #community_app_menu { width: 100%; }

	.tcSimplify #community_app_menu .submenu_container { border: 0 !important; }
	.tcSimplify #community_app_menu .submenu_container li a { border: 0 !important; color: #000 !important;  }
	.tcSimplify #community_app_menu .submenu_container li { background: none !important; font-size: 15pt !important; }
	.tcSimplify #community_app_menu .submenu_container li a:hover { background: none !important; color: black !important; }

	.tcSimplify .crumb { margin-top: 17px; }
	.tcSimplify #branding { width: 100% !important; float: left; position: relative; }
	.tcSimplify .backtotop { right: 10px; left: auto; }
	.tcSimplify #copyright { clear: both; font-size: 12px; padding-top: 0px !important; padding-left: 7px !important; }
	.tcSimplify #copyright a { font-size: 12px; }
	.tcSimplify .icon_rss_footer { display: none; }
	.tcSimplify #footer_utilities { padding: 11px 0; }
	.tcSimplify #footer_utilities .skin_copyright { padding: 0; }
	.tcSimplify #footer_utilities .ipsList_inline>li { padding-right: 4px; }
	.tcSimplify #footer_utilities .ipsList_inline>li>a { border-right: 0; }
	.tcSimplify .searchActive a:hover { background-image: rgba(0,0,0,1) !important; }
	.tcSimplify .searchActive a { 
		background-color: rgba(0,0,0,0.9) !important; 
		background-image: url(../img/close.png) no-repeat center !important; 
		border-radius: 3px;
	}
	.tcSimplify .searchActive a img { visibility: hidden; }

	/* IPB Unlimited */
	.tcUnlimited .searchActive { background: rgba(0,0,0,0.3); }
	.tcUnlimited .searchActive:hover { background: rgba(0,0,0,0.5); }

	/* Haze */
	.tcHaze #branding .main_width {
		width: 95% !important;
	}

	.tcHaze #logo { margin-left: 0; }

	.tcHaze #navContainer { 
		top: 71px; 
		right: 15px; 
		width: 100%;
		left: 0;
	}
	.tcHaze #community_app_menu .submenu_container { margin-top: 0 !important; }
	.tcHaze #community_app_menu .submenu_container a { color: rgba(255, 255, 255, 0.7); }
	.tcHaze #primary_nav { margin-top: 46px; width: 100% !important; border-radius: 0; height: auto; }
	.tcHaze #primary_nav li.nav_item_show { 
		background: rgb(23, 26, 32); 
		clear: both; 
		width:100%; 
		border-bottom: 0;
		border-top: 1px solid rgba(214, 214, 214, 0.05) !important;
		text-align: left;
	}
	.tcHaze #primary_nav li.nav_item_show.active { background: white !important; }
	body.tcHaze #primary_nav li.nav_item_show.active:hover { background: white !important; }
	.tcHaze #primary_nav li.nav_item_show.active a { color: #444; }	
	.tcHaze #primary_nav li.nav_item_show.active:hover { background: rgb(44, 48, 54) !important; }

	body.tcHaze #primary_nav li.nav_mobile {
		background-color: transparent !important;
		position: absolute;
		right: 0;
		top: -28px;
		left: auto;
		width: 100%;
	}

    body.tcHaze #primary_nav li.nav_mobile a {
    	background-position: 0 2px; 
        float: right;
        margin-right: 10px;
        text-indent: -3000em;
		width: 16px;
		height: 18px;
		padding: 0 !important;
    }	

	.tcHaze #community_app_menu>li.nav_item_show a {
		background-position: 0 -16px !important;
		padding: 7px 9px 8px !important;
	}

	.tcHaze #user_navigation li:last-child a { padding-right: 0; }

	.tcHaze #user_navigation { line-height: 30px; }

	.tcHaze #user_navigation.logged_in a {
		display: inline-block;
		overflow: hidden;
		width: 0;
		padding-left: 20px;
		color: transparent;
		text-indent: 1000em;
	}

	.tcHaze #user_navigation.logged_in a:hover,
	.tcHaze #user_navigation.logged_in a.menu_active { color: transparent; }

	.tcHaze #user_navigation #user_link { margin-right: 0; }
	.tcHaze #user_navigation #user_link_dd { display: none; }

	.tcHaze .ipsHeaderMenu {
		margin-top: 5px;
		width: 97% !important;
		left: 0 !important;
		margin-left: 0 !important;
		right: auto !important;
	}

	.tcHaze #search {
		position: absolute !important;
		padding: 12px !important;
		width: 605px;
		top: 62px !important;
	}
	.hazeTopicHorizontal .author_info {
		width: 100%;
		background: inherit !important;
	}
	.tcHaze .posted_info { display: none; }

	#community_app_menu li.nav_mobile.nav_item_show, #community_app_menu li.nav_mobile.nav_item_show a { z-index: 9999; }

	.tcHaze #heroPanel { display: none; }
	.tcHaze #ipbwrapper { margin-top: 0 !important; }
	.hasScrolled #ipbwrapper { margin-top: 0px !important; }
	.tcHaze #ipbWrapperTop { position: static !important; margin-top: 0 !important; }
	.hasScrolled #ipbWrapperTop { margin-top: 0 !important; }
	.tcHaze #navContainer { z-index: 999; }
	/****************************************/
	/* 3rd-Party Skins		              	*/
	/****************************************/
	/* Animate */
	.tcAnimate .wrapper {
		width: 100% !important;
		min-width: 100% !important;
		margin: 0 auto !important;
	}

	.tcAnimate #ipbwrapper #content, .main_width {
		margin: 0 auto !important;
	}

	.tcAnimate #community_app_menu>li>a { padding: 0 12px; }
	.tcAnimate #primary_nav { position: relative; z-index: 99; }
	.tcAnimate #primary_nav li { background: black; }

	/* Infinite */
	.tcInfinite #ipbwrapper #content, .tcInfinite .main_width { width: 100% !important; }
	.tcInfinite #nav_wrap { float: left; width: 100%; }
	.tcInfinite #user_bar, .tcInfinite #logo, .tcInfinite #nav_wrap { clear: both; }
	.tcInfinite #primary_nav {
		background-image: none !important;
		width: 85% !important;
		float: left;
	}
	.tcInfinite #community_app_menu>li>a { padding: 0 12px !important; }
    
    /*swright start*/
#community_app_menu {position:relative; top:20px;}
li#nav_mobile.left.nav_mobile, li#nav_explore.right, li#nav_mobile_search.nav_mobile_search.right, li.right a#quickNavLaunch {background:#84a5b8; }
li#nav_mobile.left.nav_mobile {margin-bottom:20px; clear:both;}
li.left.nav_item_show, li.left.active.nav_item_show {background:#84a5b8; z-index:20;}
span#search_wrap { width:280px!important;}
/*li#nav_explore.right
li#nav_mobile_search.nav_mobile_search.right
li.right a#quickNavLaunch
*/
/*swright end*/

} /* End Tablet CSS */


/* 480px - Mobile Devices*/
@media screen and (max-width: 490px) {

	/****************************************/
	/* General      		              	*/
	/****************************************/
	#ipbwrapper .ipsLayout .ipsLayout_right { position: static !important; width: 100%; margin: 0 !important; float: none !important; }
	#branding { min-height: auto !important; }
	#branding .main_width { width: 100% !important; }
	#logo { margin-left: 0; }
	#logo img { width: auto !important; }
	#content { float: initial !important; padding: 10px 8px; }

	.ipsType_pagetitle { font-size: 20px }
	#user_link { padding: 0 3px; margin-right: 10px; }

	/****************************************/
	/* Layout       		              	*/
	/****************************************/
	.ipsLayout_content { 
		float: initial !important; 
	}

	.ipsVerticalTabbed { padding: 0 !important; }
	.ipsVerticalTabbed_tabs { width: 100% !important; margin: 0 !important; }

	/****************************************/
	/* Board Index   		              	*/
	/****************************************/
	.col_c_icon img { max-height: 20px !important; max-width: 20px !important; }
	#categories .col_c_icon { padding: 10px 1px 10px 5px !important; width: 20px !important; }

	.ipb_table .desc { display: none; }
	table.ipb_table th { padding-right: 2px; font-size: 10px; }

	#stat_links {
		float: none;
		margin: 3px 0 5px;
		text-align: center;
	}

	#board_statistics p, .statistics_head, .stats_list p, .stats_list ul { text-align: center !important; }

	/****************************************/
	/* User CP      		              	*/
	/****************************************/
	#usercp_content .notification_table td.notify_title { font-size: 0.8em !important; padding: 10px !important; }
	#usercp_content .notification_table td { padding: 2px !important; }

	/****************************************/
	/* Messenger        	              	*/
	/****************************************/
	#messenger_utilities { width:100% !important; padding-bottom: 10px !important; }
	#messenger_content { width: 100%  !important; }
	#message_search .input_text { width: 84% !important; }
	#messenger_filter { width: 140px; }
	#messenger_mod { width: 140px; margin-top: 13px; }

	/****************************************/
	/* Profile      		              	*/
	/****************************************/
	#user_status_cell { display: table !important; padding-top: 10px !important; }
	.input_text, .ipsTagBox_wrapper { width: 68% !important; }
	#user_utility_links { margin-bottom: 15px; float: left; text-align: left; clear: both; }
	#user_utility_links li { margin-top: 5px; display: block !important; }
	#user_utility_links li:first-child { margin-left:3px !important; }
	.rating { margin-bottom: 0 !important; }
	#rating_text { display: none; }
	#profile_panes_wrap { clear: both; }

	/****************************************/
	/* Modals / Popups		              	*/
	/****************************************/
	#user_link_menucontent.ipsHeaderMenu,
	#user_notifications_link_menucontent.ipsHeaderMenu, 
	#user_inbox_link_menucontent.ipsHeaderMenu {
		width: 100% !important;
		padding: 10px 0px !important;
		left: 0 !important;
	}

	.ipsHeaderMenu .ipsUserPhoto { margin-left: 8px !important; }
	.ipsHeaderMenu h4, .ipsHeaderMenu ul { padding: 5px 10px; }

/*swright start*/
#community_app_menu {position:relative; top:20px;}
li#nav_mobile.left.nav_mobile, li#nav_explore.right, li#nav_mobile_search.nav_mobile_search.right, li.right a#quickNavLaunch {background:#84a5b8; }
li#nav_mobile.left.nav_mobile {margin-bottom:20px; clear:both;}
li.left.nav_item_show, li.left.active.nav_item_show {background:#84a5b8; z-index:20;}
/*li#nav_explore.right
li#nav_mobile_search.nav_mobile_search.right
li.right a#quickNavLaunch
*/
/*swright end*/

} /* End Mobile CSS */

/* iPhone 5 only */
@media screen and (device-aspect-ratio: 40/71) {
   	#branding { min-height: 100% !important; }
	#logo img { width: 100% !important; }
}
