.ccsStatuses_status {
	margin-bottom: 15px;
}

.ccsStatus_bubble {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

	.ccsStatus_bubble:after {
		content: "";
		position: absolute;
		bottom: -18px;
		left: 10px;
		border-width: 18px 0 0 18px;
		border-style: solid;
		border-color: #e6e6e6 transparent;
		display: block;
		width: 0;
	}

.ccsStatus_info {
	margin: 5px 0 0 40px;
}

	.ccsStatus_info img {
		margin-right: 8px;
	}