.ccsGenericList .ccsGenericList_content { word-wrap: break-word; margin-left: 40px; }
.ccsGenericList .ccsGenericList_content > p { margin-top: 5px; }
.ccsGenericList .ccsUserPhoto { margin-right: 5px; }