.ipsBox_container{}table.revprod{background:pink}.ipsBox_container
.product__left_column{width:240px;border:solid 1px #d2d2d2;height:210px;overflow:hidden}.ipsBox_container .product__left_column
#revprodimg{}div.review_content
p{font:normal 14px arial;color:#333}#rev-top
img.ipsUserPhoto{margin:0
10px 0 0}div.review_content{min-height:400px}.rev-pro,.rev-con{font:normal 18px arial;padding-top:10px}div.product_reviews ul li
img.ipsUserPhoto{margin-right:10px}div.product_reviews h3
a{font:normal 16px arial}div.product_reviews
p{font:normal 14px arial;color:#333}div.product.clearfix h1.ipsType_pagetitle, #revprodcontent
h1.ipsType_pagetitle{margin:0
0 15px 0}ul.topic_buttons li
a.revbut{font:normal 16px arial;padding:5px
0 0 0;float:left}ul#revbut{float:left;margin:25px
0 10px -10px}#revopts{margin:0
0 10px 0}.alreadyrev{margin:20px
0 0 0}#revprodcontent{padding-right:310px;min-height:1000px}#revprodside{position:absolute;width:300px;margin:0
0 20px 0;right:0}#revsearchform{position:relative;top:-5px;width:300px;margin:0
0 15px 0}#revsearchbox{width:200px;height:25px;font:normal 16px arial;color:#666;padding:0
0 0 5px;border:solid 1px #d2d2d2;background:#f9f8c7}#rev-vendor-info{}#revavgrating{margin:10px
0 0 0}#revavgrating ul li.revdetrate span, #revavgrating ul
li.revdetrate{font:normal 12px arial!important;color:#666!important}#revavgrating
h3{font:normal 12px arial!important;color:#B76B46!important}#revavgratingprod{border:solid 1px #d2d2d2;padding:10px;width:150px;float:right;margin:5px}#revavgratingprod
span{font:normal 12px arial!important;color:#666!important}#revavgratingprod
h3{font:bold 14px arial;color:#B76B46;margin:0
0 5px 0}#revavgratingprod
h4{font:normal 12px arial;color:#999;margin:5px
0 0 0}#distributedratings{border:solid 1px #d2d2d2;padding:10px;width:250px;margin:5px;font:normal 12px arial;color:#999}#distributedratings
span{font:normal 12px arial!important;color:#666!important}#distributedratings
h3{font:bold 14px arial;color:#B76B46;margin:0
0 5px 0}#distributedratings
.graph_container{width:100px;height:10px;margin-top:2px;background-color:#eee}#distributedratings
.graph{background-color:#999;height:10px}#distributedratings
.zero{opacity:0.3}#rev-procon{padding:0
0 10px 0;word-break:break-word}#revprodad{float:right;width:300px;height:250px}#mod-options{text-align:right;position:relative;top:-183px}div.review_body{padding-left:235px}.review_category{font:normal 20px arial}.revprodicons{padding:10px
0}div.ipsSteps.clearfix,img.galattach.emptyBox{display:none}#postingform .ipsFieldrev
.ipsFieldrev_title{font-weight:bold;font-size:15px}#postingform
.ipsForm_required{color:#ab1f39;font-weight:bold}#postingform
.ipsForm_required{font:normal 12px arial;color:red;font-weight:normal}#postingform div.ipsField_content
input{width:80%;height:30px;font:normal 16px arial;color:#333;border:solid 1px #999}#postingform
.ipsForm_submit{background:#e4e4e4;background:-moz-linear-gradient(top, #e4e4e4 0%, #ccc 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#cccccc));padding:5px
10px;text-align:right;border-top:1px solid #ccc;margin-top:25px}#postingform input
.input_submit{padding:8px
15px;float:left}#postingform
.ipsForm_right{text-align:right}#postingform
.ipsForm_left{text-align:left}#postingform
.ipsForm_center{text-align:center}#postingform .review-error{color:red}.form{margin:0}.form
li{list-style:none}.form li
input{margin:0;height:27px;width:27px}.hide{display:none}.rating input[type="radio"]{position:absolute;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;cursor:pointer;width:28px;height:27px}.rating
span{width:35px;height:27px;line-height:27px;padding:1px
30px 10px 0;background:url(/img/stars-big.png) no-repeat -33px 0}.rating input[type="radio"]:checked+span{background-position:-33px 0}.rating input[type="radio"]:checked+span~span{background-position:0 0}.review_cat_level_1{font-size:18px;margin-left:15px}.review_cat_level_2{font-size:15px;margin-left:30px}.product_reviews .pagination
li{border-bottom:none}.star-rating{margin:0
auto;display:inline-block}.star-rating-00:checked~.rating,label.star-rating-00l:hover~.rating{width:0px}.star-rating-05:checked~.rating,label.star-rating-05l:hover~.rating{width:16px}.star-rating-10:checked~.rating,label.star-rating-10l:hover~.rating{width:32px}.star-rating-15:checked~.rating,label.star-rating-15l:hover~.rating{width:48px}.star-rating-20:checked~.rating,label.star-rating-20l:hover~.rating{width:64px}.star-rating-25:checked~.rating,label.star-rating-25l:hover~.rating{width:80px}.star-rating-30:checked~.rating,label.star-rating-30l:hover~.rating{width:96px}.star-rating-35:checked~.rating,label.star-rating-35l:hover~.rating{width:112px}.star-rating-40:checked~.rating,label.star-rating-40l:hover~.rating{width:128px}.star-rating-45:checked~.rating,label.star-rating-45l:hover~.rating{width:144px}.star-rating-50:checked~.rating,label.star-rating-50l:hover~.rating{width:160px}.star-rating
label.star{width:16px;left:-16px;padding:0;height:40px;position:relative;z-index:3;float:left}.star-rating
label.star.last{width:32px}.star-rating input[type=radio],
.star-rating
label.rb{display:none}.star-rating
.rating{background:url(http://bdw.stevewright.netdna-cdn.com/public/style_images/destination/star-full.gif) repeat-x top left;position:relative;z-index:2;top:4px;height:32px;width:0px;margin:0}.rating-bg{background:url(http://bdw.stevewright.netdna-cdn.com/public/style_images/destination/star-empty.gif) repeat-x top left;position:relative;z-index:1;top:-28px;height:32px;width:160px}.ie8 .star-rating input,
.ie8 .star-rating
label.rb{display:inline-block}.ie8 .rating,
.ie8 .rating-bg,
.ie8 .star-rating
label.star{display:none}.reviews{overflow:auto;clear:both}.reviews
li{float:left;width:445px;margin:0
10px 10px 10px}.reviews
li.alpha{margin-left:0;clear:left}.reviews
li.omega{margin-right:0}.reviews li
img{float:left;margin-right:1em}.reviews
h3{margin-bottom: .25em;font-weight:normal;font-size:1.4em;line-height:1.2em}.reviews
h4{font-weight:bold;font-style:italic;font-size:1.2em;line-height:1.2}.reviews
p{font-size:1.1em;line-height:1.3;margin-bottom: .25em}.reviews__meta{margin-bottom: .5em}.categories{overflow:auto;clear:both}.categories
.category{float:left;width:445px;margin:0
10px 10px 10px}.categories
.category.alpha{margin-left:0;clear:left}.categories
.category.omega{margin-right:0}.categories h1, .review_products h1, .review_category
h1{margin-bottom: .5em;font:normal 26px/1.3 Helvetica, Arial, sans-serif;color:#B76B46}.categories h2, .review_products
h2{margin-bottom: .5em;font-weight:normal;font-size:1.4em;line-height:1.2em}.categories
.category__li{font-size:1.1em;line-height:1.2}.categories .category__li
span{margin-right:10px}.review_products__product{overflow:auto;margin-bottom:1em;border-bottom:1px solid #e6e5e3;padding:10px
0}.review_products__product
h4{font:normal 16px arial}.review_products__product
p{margin:8px
0;font:normal 14px arial}.review_products
img{float:left;margin-right:1em}.product{margin-bottom:1.5em}.product__left_column{float:left;margin-right:1em}.product__right_column{margin-left:254px;position:relative}.product_reviews
h2{font-size:1.5em;border-bottom:1px solid black;line-height:1.2;padding-bottom:4px;margin-bottom:1em}.product_reviews
li{padding-bottom:1.5em;margin-bottom:1.5em;border-bottom:1px solid lightgray}.product_reviews
h3{margin-bottom: .5em}.product_reviews li
.image{float:left;margin-right:1em}.product_reviews
p{margin: .5em 0}.product_reviews__pros-cons{}.review_summary{float:left;margin-right:1em;border:1px
solid #d2d2d2;padding:1em;width:190px}.review_content{margin-bottom:2em}li.review_cat_level_0
a{font:normal 18px arial}li.review_cat_level_1
a{font:normal 14px arial;margin:0
0 0 10px;padding:-5px 0 -5px 0}li.review_cat_level_1{margin:-5px 0 0 0;padding:0}.rev-count{font:italic 13px arial;position:relative;top:10px}#cat-rating{margin:20px
0 0 0}#cat-rating
.score{font-weight:bold}.review_summary
h2{margin-bottom:5px}.review_summary h2
a{font:bold 14px arial;color:#B76B46}.review_summary
p{color:#888}